body {
	padding: 0px;
	margin: 0px;
	font-family: Sans-Serif;
	font-size: 10pt;
}

/* Sidebar */

#sidebar {
	margin: 5px;
}

#sidebar h3 {
	font-size: 120%;
	padding-left: 30px;
}

#sidebar h3:first-child {
	color: black;
	font-size: 150%;
}

.slidertext {
	font-size: 130%;
}

.wide {
	width: 100%;
}

.activator {
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: darkgrey;
}

.activator[active=true] {
	background-color: #E6E6E6;
}

.activator:hover {
	border-color: dimgrey;
}

/* Drawings */

.drawing {
	background-color: #E6E6E6;
	border-width: 1px;
	border-style: solid;
	border-color: darkgrey;
	position: fixed;
	top: 5px;
	width: 100%;
	height: 100%;
	text-align: center;
}

#spinner-container {
	height: 100%;
	z-index: 2;
	background: rgba(180, 180, 180, 0.6);
}

#spinner-bg {
	/*background-color: darkgrey;*/
	position: absolute;
	width: 100%;
	height: 100%;
	/*opacity: 0.6;*/
}

#canvasgl,
#canvas {
	z-index: 1;
	display: none;
}

/* Errors */

#error {
	color: #000000;
	font-weight: bold;
	text-align: center;
	margin: auto;
	width: 70%;
	background-color: #EECC00;
	border-radius: 4px;
	padding: 4px;
	position: relative;
	top: -4px;
	z-index: 4;
}

.error-container {
	display: none;
	width: 100%;
	text-align: center;
	background-color: #E6E6E6;
	border-color: DarkGrey;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

